@-webkit-keyframes social-top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

.header .navigation a:hover {
    background-color: var(--primaria);
    padding: 8px;
    border-radius: 5px;
}

.container .content .info .freelancer-status:hover {
    color: var(--segundaria)
}

.container .tecnologias .name-linguagens {
    position: relative;
}

.container .tecnologias .linguagens .descripition-linguagem{
    width: 255px;
    height: 100px;
    position: absolute;
    top: 60%;
    right:30%;
    transform: translate(50%, -50%);              
    background-color: var(--primaria);
    border-radius: 0 30px;
    color: #fff;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.4s ease;
    font-size: 1.4rem;
    text-align: center;
    z-index: 1;
}

.container .tecnologias .linguagens .name-linguagens:hover .descripition-linguagem{
    opacity: 1;
}


.projetos .image-projetos .image {
    position: relative;
}

.projetos .image-projetos .description-hover {
    width: 300px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primaria);
    border-radius: 30px 0;
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.4s ease;
    font-size: 1.3rem;
    text-align: center;
    z-index: 1;
}

.projetos .image-projetos .image:hover .description-hover {
    opacity: 1;
}

.projetos .image-projetos .description-image .btn:hover {
    background-color: var(--primaria);

}

.contato .social li:hover {
    animation: social-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.contato .social a:hover {
    color: var(--primaria);
}
