html {
    font-size: 62.5%;
    color: #fff;
}

body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px 35px 10px 35px;
    padding: 0 30px 0 30px;
    max-width: 1440px;
    min-width: 360px;
    height: 100px;
    width: 100%;
}

.header .logotipo .image-logo {
    width: 100%;
}

.header .navigation {
    width: 40%;
}

.header .navigation ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.header .navigation li,
a {
    font-size: 2rem;
    padding: 8px;
    transition: 0.3s;
}

.container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .content {
    display: flex;
    align-items: center;
    width: 90%;
    background-color: var(--background);
    border-radius: 30px 0;
    margin: 0 5px 30px 5px;
}

.container .content .info {
    width: 70%;
    margin: 10px;
    padding: 10px;
}

.container .content .info .freelancer-status {
    font-size: 1.5rem;
    color: var(--primaria);
    font-weight: bold;
}

.container .content .info .name {
    font-size: 3rem;
    margin: 8px 8px 30px 8px;
    text-align: center;
}

.container .content .info span {
    font-size: 2rem;
    color: var(--primaria);
    font-weight: bold;
}

.container .content .info .description {
    width: 90%;
    font-size: 1.7rem;
    margin: 8px;
    line-height: 25px;
    color: var(--segundaria);
    text-align: center;
}

.container .content .image-ronyelle {
    width: 100%;
    border-radius: 30px;
}

.container .tecnologias {
    background-color: var(--background);
    border-radius: 0 30px;
    margin: 0 5px 30px 5px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.container .tecnologias .linguagens {
    margin: 10px;
}

.container .tecnologias .linguagens h6 {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin: 25px 0 0 0;
}

.container h3 {
    font-size: 3.5rem;
    color: var(--primaria)
}

.container .projetos {
    background-color: var(--background);
    border-radius: 30px 0;
    margin: 0 5px 30px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.container .projetos .image-projetos {
    width: 30%;
}

.container .projetos .image-projetos .image {
    text-align: center;
}

.container .projetos .image-projetos .image .images {
    width: 200px;
    height: 200px;
}

.container .projetos .image-projetos .description-image {
    text-align: center;
    padding: 10px;
}

.container .projetos .image-projetos .description-image h5 {
    font-size: 1.7rem;
    color: var(--primaria);
    margin-bottom: 15px;
}

.container .projetos .image-projetos .description-image .descriptions {
    font-size: 1.3rem;
    padding: 0 20px 0 20px;
    margin-bottom: 15px;
}

.container .projetos .image-projetos .description-image .btn {
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--primaria);
    background-color: var(--background);
    width: 170px;
    height: 30px;
    transition: 0.3s;
}

.container .projetos .image-projetos .description-image .btn .button {
    font-size: 1.5rem;
    font-weight: bold;
}

.container .contato {
    display: flex;
    justify-content: center;
    background-color: var(--background);
    border-radius: 0 30px;
    margin: 0 5px 30px 5px;
    width: 90%;
}

.container .contato .social {
    width: 50%;
}

.container .contato .social .icon {
    font-size: 4rem;
}

.container .contato .social ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.footer-content {
    margin: 15px;
}

.footer-content .footer-description {
    font-size: 1.2rem;
}

.footer-content .footer-description span {
    font-size: 1.4rem;
    color: var(--primaria);
}